.menu-container{
  width: 100%;
  background: rgb(252, 252, 252);
  .menu-container__add-form{
  	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  }
  .menu-container__link-list{
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  	.menu-container__link{
      transition: .1s;
      font-family: Roboto, Arial, sans-serif;
      font-weight: 400;
      color: #5f6368;
      &.selected {
		    background: #3f51b5;
		    color: #ffffff;
      }
      &:hover {
        background: #3f51b5;
        color: #ffffff;
	    }
      .menu-container__icon{
      	margin: 0 15px;
      }
    }
  }
  .menu-container__add-label{
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    margin: 10px 10px 15px;
  }
}