<div [formGroup]="parentGroup" class="note-form__row note-form__row-wrap">
  <mat-radio-group formControlName="noteColor">
    <mat-radio-button [value]="colors.White" class="radio-button radio-button_white"></mat-radio-button>
    <mat-radio-button [value]="colors.Red" class="radio-button radio-button_red"></mat-radio-button>
    <mat-radio-button [value]="colors.Blue" class="radio-button radio-button_blue"></mat-radio-button>
    <mat-radio-button [value]="colors.Green" class="radio-button radio-button_green"></mat-radio-button>
    <mat-radio-button [value]="colors.Yellow" class="radio-button radio-button_yellow"></mat-radio-button>
    <mat-radio-button [value]="colors.Brown" class="radio-button radio-button_brown"></mat-radio-button>
  </mat-radio-group>
</div>
