$White: #FFFFFF;
$Red: #EF9A9A;
$Blue: #64B5F6;
$Green: #9CCC65;
$Yellow: #FFEE58;
$Brown: #8D6E63;

.note-card-wrap{
  .note-card {
    max-width: 550px;
    height: 5px;
    margin: 15px auto 40px;
    overflow: hidden;
    box-sizing: content-box;
    box-shadow: 0 1px 9px 3px rgba(60,64,67,0.30);
  }

  .note-card_active {
    height: auto;
    .note-form{
      transform:translateY(0px);
    }
  }
}

.note-form{
  transform:translateY(-95px);
}

.note-form__row{
  width: 100%;
  padding: 5px 0;
  margin: 0;
  .radio-button{
    margin: 0 5px;
  }
  .labels-container{
    &__label{
      font-size: 11px;
      padding: 0 7px;
      min-height: 25px;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    }
  }
} 

.note-form__row-wrap{
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background: #e4e4e4;
}
.note-form__row-flex{
  display: flex;
  justify-content: space-between;
}

@mixin color-radio($Color) {
  &.mat-accent {
    .mat-radio-inner-circle {
      background-color: $Color;
    }
    .mat-radio-outer-circle{
	  border-color: $Color;
    }
    &.mat-radio-checked {
  	  .mat-radio-outer-circle {
        border-color: $Color;
      }
    }
    &.mat-radio-ripple {
  	  .mat-ripple-element {
        background-color:$Color;
      }
    }
  }
}

::ng-deep .radio-button_white{
  @include color-radio($White);
}

::ng-deep .radio-button_red{
  @include color-radio($Red);
}

::ng-deep .radio-button_blue{
  @include color-radio($Blue);
}

::ng-deep .radio-button_green{
  @include color-radio($Green);
}

::ng-deep .radio-button_yellow{
  @include color-radio($Yellow);
}

::ng-deep .radio-button_brown{
  @include color-radio($Brown);
}